.navbar {
   
   background-image: linear-gradient(to right bottom, rgba($color-primary,.7), rgba($color-secondary,.7)),
   url('../img/Header-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   clip-path: ellipse(90% 80% at 50% 20%);
   height: 100vh;
   background-attachment: fixed;

   @media only screen and (max-width: $bp-largest) {
      height: 80vh;
   }

   @media only screen and (max-width: $bp-larger) {
      height: 70vh;
   }

   @media only screen and (max-width: $bp-small) {
      clip-path: none;
      height: auto;
      padding-bottom: 5rem;
   }

   @media only screen and (max-height: 45em) {
      clip-path: none;
      height: auto;
      padding-bottom: 5rem;
   }    

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 10rem;

      
      @media only screen and (max-width: $bp-medium) {
         flex-direction: column;
         justify-content: space-between;
      } 


      &--link {      // Ul element
         
         display: flex;

         li {
            list-style: none;
            font-size: 1.4rem;

            &:not(:last-child) {
               margin-right: .5rem;

               @media only screen and (max-width: $bp-smaller) {
                  margin: 0;
                  margin-bottom: 1rem;
               }
            }
         }

         @media only screen and (max-width: $bp-medium) {
            margin-top: 1.5rem;
         } 

         @media only screen and (max-width: $bp-smaller) {
            display: none;
         }

         &--items {
            text-decoration: none;
            color: #f7f7f7;
            padding: 1rem .75rem;
            border-bottom: 2px solid transparent;
            font-weight: 600;
            transition: all .2s;
            outline: none;

            &:hover,
            &:focus {
               border-bottom: 2px solid #f7f7f7;  
               color: #fff;
            }
         }
      }
   }

   &__content {
      max-width: 80rem;
      margin: 0 auto;
      margin-top: 10rem;
      text-align: center;
      color: #f7f7f7;
      overflow: hidden;

      @media only screen and (max-height: 50em) {
         margin-top: 5rem;
      }   

      &--heading {
         font-family: cursive; 
         margin: 2rem 0;
         color: currentColor;

         @media only screen and (max-width: $bp-smaller) {
            font-size: 4rem;
         }
      }

      &--sub {
         margin: 2rem 0;
         color: currentColor;

         @media only screen and (max-width: $bp-smaller) {
            font-size: 2rem;
         }
      }

      &--paragraph {
         padding: 0 12rem;
         font-size: 1.2rem;
         line-height: 1.2;
         margin: 3rem 0;
         color: $color-grey-light-1;

         @media only screen and (max-width: $bp-smaller) {
            padding: 0 2rem;
         }
      }
   }
}