.offer {

   display: flex;
   background-color: $color-grey-light-3;
   
   @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
   }
   
   &__left {
      flex-basis: 40%;
      background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__content {
         width: 100%;
         height: 80%;
         transform: translateX(50%);
         display: flex;

         @media only screen and (max-width: $bp-medium) {
            transform: translateX(0);
            height: auto;
         }

         &--left {
            flex-basis: 50%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            
            @media only screen and (max-width: $bp-big) {
               flex-basis: 70%;
            } 

            @media only screen and (max-width: $bp-medium) {
               order: 1;
               padding: 10rem 0;
            }


            &--heading {
               font-family: cursive;

               @media only screen and (max-width: $bp-big) {
                  font-size: 2.5rem;
               } 
            }

            @media only screen and (max-width: $bp-smaller) {
               padding: 5rem 0;
            }

            span {
               font-size: 1.6rem;
               font-weight: bold;
               margin: 1rem 0;
            }

            &--price {
               background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
               -webkit-background-clip: text;
               background-clip: text;
               color: transparent;
               font-family: 'Times New Roman', Times, serif;

               @media only screen and (max-width: $bp-larger) {
                  font-size: 6rem;         
               }

               &--sm {
                  font-size: 5.5rem !important;
                  display: inline-block;
                  background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
                  -webkit-background-clip: text;
                  background-clip: text;
                  color: transparent;
  
                  @media only screen and (max-width: $bp-big) {
                     font-size: 3rem !important;
                  } 
               }
            }

            &--paragraph {
               padding: 0 2rem;
               font-size: 1.2rem;
               line-height: 1.6;
            }
         }

         &--right {
            background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
            flex-basis: 50%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            
            @media only screen and (max-width: $bp-big) {
               flex-basis: 80%;
            } 

            &--heading {
               color: currentColor;
               margin-bottom: .5rem;
               
               @media only screen and (max-width: $bp-big) {
                  font-size: 3rem;
               } 
            }

            span {
               color: currentColor;
               font-size: 1.6rem;
               font-weight: bold;
               margin-bottom: 2rem;
            }

            ul {
               list-style: none;
               font-size: 1.2rem;
               margin: 2rem;

               li {
                  &:not(:last-child) {
                     margin-bottom: .75rem;
                  }
               }
            }
         }
      }
   }

   // OFFER RIGHT


   &__right {
      flex-basis: 60%;
      padding: 5rem 0;

      & > * {
         margin-left: 40rem;
         margin-right: 5rem;

         @media only screen and (max-width: $bp-largest) {
            margin-left: 27rem;         
         }

         @media only screen and (max-width: $bp-larger) {
            margin-left: 25rem;         
         }

         @media only screen and (max-width: $bp-big) {
            margin-left: 20rem;
         } 

         @media only screen and (max-width: $bp-small) {
            margin: 3rem;
         }
      }

      &__heading {
         font-family: cursive;
      }

      &__paragraph {

         span {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 2rem;
         }

         line-height: 1.6;
         margin-top: 2rem;
         font-size: 1.2rem;
      }
   }
}