.sub-footer {
   
   background-image: linear-gradient(to right, rgba($color-primary,.9), rgba($color-secondary,.9)), 
   url('../img/get-in-touch-bg.png');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 8rem 0;


   &__heading {
      text-align: center;
      font-family: cursive;
      color: $color-grey-light-1;
   }

   &__logos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8rem 0;
      margin-bottom: 0;

      &__item {
         width: 8.5rem;
         height: 8.5rem;
         border: 2px solid $color-grey-light-1;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;

         @media only screen and (max-width: $bp-medium) {
            width: 5.5rem;
            height: 5.5rem;
         }

         @media only screen and (max-width: $bp-smaller) {
            width: 3.5rem;
            height: 3.5rem;
         }

         &:not(:last-child) {
            margin-right: 3rem;

            @media only screen and (max-width: $bp-medium) {
               margin-right: 1.5rem;
            }
         }

         &:hover svg{
            transform: scale(1.2);
         }

         

         svg {
            width: 45%;
            height: 45%;
            fill: $color-grey-light-1;
            transition: all .2s;
         }
      }
   }
}